<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="detach">
  <div id="kotfi">
    <img  th:src="${kotfi.cardImages.get(0).image_url}">
  </div>
  <div class="card" th:each="material : ${materials}">
      <img th:src="${material.cardImages.get(0).image_url}">
  </div>
</div>
<div id="result">
    <div class="card" th:each="reptile : ${reptiles}">
        <img th:src="${reptile.cardImages.get(0).image_url}">
    </div>
</div>
</body>
</html>